*{

    margin : 0;

    padding : 0;

    box-sizing: border-box;

}



a{

    text-decoration: none;

    color: white;

}

span {

    color: white;

}



body {

    background-color: black;

}



#root {

    position : relative;

    min-width : 320px;

    background-color: black;

}



.contents-wrap > div > a:hover > span {

    color: rgb(177, 177, 222);

}



#contents {

    position : relative;

    min-width : 320px;

    background-color: black;

}



#contents {

    max-width: 700px;

    margin : 0 auto;

    box-sizing: border-box;

    overflow : hidden;

    padding-bottom: 60px;

}



.backpageHeader {

    position : relative;

    min-width : 320px;

    background-color: black;

    display : flex;

    align-items: center;

}



.backpageDiv {

    position : relative;

    max-width : 800px;

    display : flex;

}



.backpage {

    margin-top: 30px;

    margin-left: 30px;

    display : flex;

}



#backpageimg {

    font-size: 30px;

}



section {

    display : block;

}



.inner-wrap {

    margin : 0 auto;

    padding : 16px 16px 20px;

    max-width : 700px;

    display : flex;

    flex-direction: column;

    width : 100%;

}



.info-container {

    display : flex;

    flex-direction: column;

    width : 100%;

}



.user-wrap {

    display : flex;

    width : 100%;

}



#userMenu{

    display : flex;

}



#userMenu > a { 

    margin : 10px 5px;

    margin-top: 15px;

    font-size: 23px;

    

}





#introduceSpan {

    font-size: 12px;

    color :rgb(137, 132, 132);

    border-radius: 20px;

    padding: 20px;

}



#userInfo{

    display : flex;

    align-items: center;

    margin-bottom: 9px;

    width : 100%;

}



.avatar-wrap {

    margin-right: 15px;

    width: 72px;

    height: 72px;

    border-radius: 50%;

    position: relative;

    flex-shrink: 0;

   

    display : flex;

    justify-content: center;

    align-items: center;

}



.avatar-wrap > span {



    font-size: 72px;

    color: rgb(255, 255, 255);

    line-height: 72px;

    

}



.info-wrap {

    margin-top: 20px;

    overflow : hidden;

}





/* 이메일 */

.user-name {

    font-size: 24px;

    font-weight: bold;

    color:white;

    display : flex;

    justify-content: space-between;

    width : 100%;

}



.user-email {

    font-size: 16px;

    color : grey;

}

.user-email > span {

    color : grey;

    font-weight: bold;

}







/* 콘텐츠 */

.contents-wrap {

    margin: 0 auto 40px;

    padding: 0 16px;

    max-width: 700px;

    display: flex;

    flex-direction: column;

    position: relative;

}



.profile-count-container {

    padding: 32px 0 35px;

    display: flex;

    justify-content: space-around;

    background: rgb(57, 41, 41);

    border-radius: 6px;

}



.lifemovie-container {

    padding: 10px 0 24px;

}



.wanttosee-container {

    padding: 20px 0 40px;

    position: relative;

}

.profile-count-container > a {

    cursor: pointer;

    display: flex;

    flex-direction: column;

    flex: 1;

    justify-content: center;

    align-items: center;

    position: relative;

    overflow: hidden;

}



.profile-count-container > a:nth-of-type(1)::after{

    content: "";

    width: 1px;

    height: 62px;

    background-color: gray;

    position: absolute;

    right: 0;

    

}

.profile-count-container > a:nth-of-type(2)::after{

    content: "";

    width: 1px;

    height: 62px;

    background-color: gray;

    position: absolute;

    right: 0;

}





.countSpan {

    font-size: 30px;

    font-weight: bold;

}



.count{

    font-size: 20px;

    font-weight: bold;

}



.countInfo {

    color : gray;

    font-weight: 400;

}





/* 중간박스 */



.profile-container2 {

    margin-top: 12px;

    margin-bottom: 16px;

    background: rgb(57, 41, 41);

    padding: 0 16px;

    border-radius: 6px;

    display: flex;

    flex-direction: column;

}



.profile-container-box{

    cursor: pointer;

    display: flex;

    justify-content: space-between;

    margin : 20px;

    align-items: center;

    height: 58px;

    box-sizing: border-box;

    position: relative;

}



#infoMark {

    color : white;

    font-size: 13px;

    margin-left: 5px;

}



/* 중간박스 구분선 생성 */

/* .profile-container-box:nth-of-type(1)::after{

    content: "";

    width: 100%;

    height: 1px;

    background-color: gray;

    position: absolute;

    bottom : -20px;

} */









.profile-container-box > a > button{

    background-color: rgb(57, 41, 41);

    border-style: none;

    margin : 0px 2px;

}



#genreBox {

    display : flex;

}

.genreDiv {

    margin : 5px;

}







#arrow {

    color : white;

    font-size: 14px;

}



#boxLine {

    color: rgb(137, 132, 132);

    height: 50%;

}



/* display : none으로 제어 */

#unlikeBox {

}

.boxline {

    width : 95%;

    margin: 0 auto;

}

#boxLine2 {

    display : flex;

}



.profile-container-box:nth-of-type(2)::after{

    content: "";

    width: 100%;

    height: 1px;

    background-color: gray;

    position: absolute;

    bottom : -20px;

    display : none;

}





.genre {

    padding: 4px 8px;

    margin : 0px;

    border-radius: 5px;

    border-style: none;

    background-color: rgb(83, 83, 115);

    color: white;

}   



/* 인생영화 */



.lifemovie-container {





}

.lifemovie-top {

    display : flex;

    justify-content: space-between;
    
    margin-bottom: 30px;

}

.lifemovie-top > span {

    font-weight: bold;

    font-size: 20px;

}



.lifemovie-top > a {

    font-size: 12px;

    color : gray;



}



.lifemovie-bottom {

    display : flex;

    flex-direction: column;

    align-items: center;



}



.lifemovie-empty-foreign {

    margin-top: 60px;

    margin-bottom: 60px;

    font-size: 14px;

}



.lifemovie-empty-foreign > span {

    color : gray;

    font-weight: bold;

}





.lifemovie-empty {

    margin-top: 120px;

    margin-bottom: 20px;

    font-size: 14px;

   

}

.lifemovie-empty > span {

    color : gray;

    font-weight: bold;

}



.lifemovie-button {

    padding : 10px 15px;

    border-radius: 10px;

    font-weight: bold;

    color: white;

    font-size: 18px;

    background-color: rgb(83, 83, 115);

    cursor: pointer;

}



#lifeMovieBox {

	display : flex;

	flex-wrap : wrap;

	margin : 0 auto;

}



#posterBox {

	width : 23%;

	margin-right : 13px;

}

#posterBox img{
	cursor: pointer;
}

#poster {

	width : 100%;

}











.wanttosee-top {

    display : flex;

    justify-content: space-between;

}

.wanttosee-top > span {

    font-size: 20px;

    font-weight: bold;

}



.wanttosee-top > a {

    font-size: 12px;

    color : gray;

}



.wanttosee-bottom {

    display : flex;

    flex-direction: column;

    align-items: center;



}



.wanttosee-empty {

    margin-top: 120px;

    margin-bottom: 20px;

    font-size: 14px;

   

}

.wanttosee-empty > span {

    color : gray;

    font-weight: bold;

}



.wanttosee-button {

    padding : 10px 15px;

    border-radius: 10px;

    font-weight: bold;

    color: white;

    font-size: 18px;

    background-color: rgb(83, 83, 115);

}









.navHeader {

    position: fixed;

    left: 0;

    bottom: 0;

    z-index: 99999;

    width: 100%;

    border-bottom: 0;

    box-shadow: 0 -4px 16px rgba(0,0,0,.32);

    background-color: rgb(20, 20, 21);

}



.nav {

    display: flex;

    align-items: stretch;

    justify-content: center;

    max-width: 700px;

    margin: 0 auto;

    position: relative;

    

}

.nav > a {

    display : flex;

    flex-direction: column;

    text-align: center;

    min-width: 80px;

    height: 58px;

    margin : auto;

    position: relative;



}



.nav > a > i {

    margin-top: 8px;

    color : white;

    font-size: 25px;

    margin-bottom: 4px;

}



.nav > a > span {

    font-size: 12px;

}







/* 밑줄추가 */



.profile-container-box > a:hover{

    text-decoration: underline;    

}



.profile-container-box > a:hover > span {

    text-decoration: underline;

}











/* 프로필 이미지 */

.profileImg{

    width: 100%;

    height: 100%;

    border-radius: 50%;

}