* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: black;
    width: 1920px;
}
main {
}
div {
   
}
main {
    width: 1140px;
    margin: auto;
}
.main {
    display: flex;
}
.main > div:nth-child(1) {
    flex-basis: 85%;
}
.main > div:nth-child(2) {
    flex-basis: 15%;
}
header {
    margin-top: 50px;

    display: flex;
}
header > div:nth-child(1){
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
header > div:nth-child(2){
    flex-basis: 60%;
   
}
header > div:nth-child(3){
    flex-basis: 25%;
}
.home-nav {
    list-style: none;
    display: flex;
    
}
.home-nav > li >a {
    margin: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.head-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-right  div {
    margin: 10px;
    font-size: 23px;
    color: white;
}
.head-right a {
    color: white;
    font-size: 23px;
}
.chart > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(41, 39, 39);
    border-radius: 10px;
}
.chart > ul > li {
    margin: 5px;
    font-weight: bold;
    color: white;
}
.side {
    
    width: 200px;
    padding-top: 50px;
    
}
.side-1 {
    position: sticky;
    top: 50px;
}

.side-1 > div:nth-child(2) a{
    color: white;
    display: flex;
    align-items: end;
    justify-content: end;
    text-decoration: none;
    opacity: 1;
}
.side-1 > div:nth-child(2) a.on {
    opacity: 1;
}

.main {
    display: flex;
    
}
.content {
    display: flex;
    flex-direction: column;
}

.main > div:nth-child(1) ul {
    color: white;
}
.main ul {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px 100px
}
.main > div:nth-child(1) ul  {
    justify-content: center;
    align-items: center;
}
.main >div:nth-child(1) ul li  {
    margin: 20px 20px;
  
}
.main > div:nth-child(1) ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#janr  ul {
    position: relative;
}
#janr >ul:nth-child(1) p {
    position: absolute;
    top: 35%;
    left: 0%;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px 2px rgb(90, 18, 7);;
    padding-left: 50px;
}
.janr-name2 {
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 20px;
    top: 10%;
    left: 5%;
}
.janr-name3 {
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 20px;
    top: 10%;
    left: 5%;
}
/*장르 사이 구분선*/
.hr {
    color: white;
}

.mlist {
   
  
}
.mlist > div:nth-child(1) {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: white;
    margin: 0;
    padding: 0px 10px;
}
.mlist > div a {
    font-size: 13px;
    font-weight: bold;
    flex-basis: 20%;
    text-align: center;
    text-decoration: none;
    color: white;
}
.mlist div div {
    padding: 0px 15px;
    margin: 0;
}
.mlist p {
    margin: 0px 0px 15px 0px;
    text-align: center;
    font-size: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mlist h3 {
    width: 130px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mlist img {
    width: 130px;
}
footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p a {
    color: white;
    text-decoration: none;
    margin: 60px;
}
.head-right a:hover {
    
    color: red;
    transition-duration: 0.5s;
}

.home-nav > li a { 
    color: white;
    text-transform:uppercase;
    
}
    

.home-nav > li a:after {
    display:flex;
    flex-direction:row;
    margin-left: 40px;
    content: '';
    border-bottom: solid 2px #ea2129;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.home-nav > li a:hover:after { transform: scaleX(1); }


.home-nav > li:nth-child(1) {
  margin-left: 60px;
}

/*버튼 css*/
.content button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px 2px rgb(90, 18, 7);
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 15px;
}

/*버튼 올리면 커서 변경*/
.btn {
    cursor: pointer;
}

/*버튼 클릭시 생상 변경, 그림자 삭제*/
.btn.active {
    background-color: rgb(51, 51, 73);
    box-shadow: none;
}










.search-box{
    
    display: flex;
    justify-content: center;
    align-items: center;

    
    transform: translate(7%,2%);
    height: 30px;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    transition: 0.4s;
    width:30px;
  }
  .search-box:hover{
    background-color: white;
    box-shadow: 0px 0px .5px 1px rgb(73, 73, 88);
    width: 240px;
    height: 35px;
  }
  .search-btn{
    text-decoration: none;
    float: right;
    font-size: 25px;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    color: white;
  }
  .search-box:hover > .search-btn{
    background-color: white;
    color: black;
  }
  .search-txt{
    padding: 0;
    width: 0px;
    border:none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    transition: .4s;
    
  }
  .search-box:hover > .search-txt{
    width: 200px;
    padding: 0px;
  }

a:hover {
    cursor: pointer;
}


.home-nav2 {
    display: none;
    align-items: center;
    justify-content: center;
}
.home-nav2 a {
    color: white;
    padding: 52px;
    font-size: 25px;
}

  /*1200이하시 nav 아이콘 변경*/
@media screen and (max-width : 1500px) {

.home-nav {
    display: none;
}
.head-right {
    display: none;
}
.home-nav2 {
    display: flex;
}
.home-nav2 a:hover {
    color: red;
}
}






